<%- include('partials/header') -%>

<div class="container mt-5">
    <p>
        <center><h3>Login with your credentials</h3></center>
      <form class="mx-auto col-md-6" action="/login" method="post">
        <input type="email" name="email" class="form-control" placeholder="Email"><br>
        <input type="password" name="password" class="form-control" placeholder="Password"><br>
        <button class="submit" class="btn btn-primary">Login</button>
      </form>
    </p>
</div>
<%- include('partials/footer') -%>